{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Items service</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-light fixed-top" id="navbar">
			<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
									<li class="nav-item" id="baseURL">
											<a class="nav-link active" aria-current="page" href="{% url 'items:index' %}" id="homeURL">All items|Create new</a>
									</li>
							</ul>
					</div>
			</div>
	</nav>
	<br><br><br>
	{% block content %}
	{% endblock %}
</body>
</html>