{% extends "base.html" %}
{% load static %}

{% block content %}
		<div class="container">
        <div class="row mb-3">
						<p hidden id="itemId">{{ id }}</p>
						<div id="sampleItem"></div>
						<div class="d-grid gap-3 d-md-block">
								<lable class="form-label">new title</lable>
            		<input type="text" class="form-control"  id="newItemTitle">
								<lable class="form-label">new price</lable>
            		<input type="number" class="form-control" id="newItemPrice">
								<lable class="form-label">author</lable>
								<input type="text" class="form-control"  id="newItemAuthor"><br>
								<div>
										<button class="btn btn-success" id="updateItemButton">Update</button>
										<button class="btn btn-danger" id="deleteItemButton">Delete item!</button>
								</div><br>
								<div>
										<lable class="form-label">add new images</lable><br>
										<input type="file" id="newItemImages" multiple accept="image/*">
										<button class="btn btn-primary" id="addImageToSingleItemButton">Add images</button>
								</div>
        		</div><br><br>

        </div>

				<div class="row" id="images"></div>
		</div>
		<script type="module" src="{% static 'js/detail.js' %}"></script>
		<script type="module" src="{% static 'js/utils.js' %}"></script>
{% endblock %}